<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry"></script>
  <script src="http://tablesorter.com/__jquery.tablesorter.min.js"></script>
  <link  href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >
  <link  href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css">
  <link rel="stylesheet" type="text/css" href="/css/tinytools.toggleswitch.min.css"> 
  <script src="/js/tinytools.toggleswitch.min.js"></script> 
  <script type="text/javascript" src="/js/script.js"></script>   
</head>