#map-canvas {
	height: 35%;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-style: none;
}

.main-checkboxes {
	font-size: 30px;
}

#top {
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

#mainButtons {
	width: 50%;
	margin: 0 auto;
}