html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  background-color: #fffff;
  border-radius: 5%;
  opacity: .25;
  animation: fadeOut 1s;
}

#panel:hover {
	animation: fadeIn 1s;
	opacity: 1;
}


#rightPanel {
  position: absolute;
  text-align: center;
  top: 50%;
  right: 1%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 5%;
  opacity: .25;
  animation: fadeOut 1s;
}

#rightPanel:hover {
	animation: fadeIn 1s;
	opacity: 1;

}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-style: none;
}

.main-checkboxes {
	font-size: 30px;
}

#top {
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

#mainButtons {
	width: 60%;
	margin: 0px auto;
	background-color: #fffff;
	border-radius: 35%;
	opacity: .25;
	animation: fadeOut 1s;

}

#mainButtons:hover {
	animation: fadeIn 1s;
	opacity: 1;

}

@-webkit-keyframes fadeIn {
  0%   { opacity: .25; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: .25; }
}


#gf:hover {
	background-color: #d1203f;
	border-radius: 20%;
}

#df:hover {
	background-color: #2098d1;
	border-radius: 20%;
}

#ef:hover {
	background-color: #d12098;
	border-radius: 20%;
}

#sf:hover {
	background-color: #d1b220;
	border-radius: 20%;
}

