<% include ../partials/header %>
<h1>USER INDEX PAGE</h1>


<% users.forEach(function(user){ %>
  <p>
  	username:
    <%= user.username %>

    go to user:
    <a href="/users/<%=user.id%>/">see user</a> 
  </p>
<% })%>


<% include ../partials/footer %>